* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100vw;
    background-color: lightgray;
    text-align: justify;
}

#main::first-letter {
    font-size: 2rem;
}

/* Media query for screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
    #main {
        width: 90vw;
        background-color: #b5cafc;
        text-align: left;
    }
}

@media (min-width: 900px) {
    #main {
        width: 80vw;
        background-color: #8da9e8;
        text-align: justify;
        background-color: red;
    }
}