p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.styled-first-letter::first-letter {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

}

p::before {
    content: 'Mr. ';
    background-color: lightgrey;

}

p::after {
    content: 'Is the first person in his family who did engineering.';
    background-color: lightgrey;

}