* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ababab;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 3px 6px 8px rgba(164, 164, 172, 0.4);
    background-color: #bababa;
    display: flex; 
    border: 2px solid rgb(182 182 182);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}